.form {
	label {
		display: flex;
		flex-direction: column;
		span {
			padding: 0 0.618rem;
			text-transform: uppercase;
			font-size: 0.8rem;

			letter-spacing: 0.08em;
			opacity: 0.8;
		}
		margin-bottom: 1.25rem;
	}
	input,
	textarea,
	select {
		font-weight: 300;
		line-height: 1.4;
		-webkit-appearance: none;
		width: 100%;
		background: #f7f7f7;

		border: none;
		padding: 0.618rem 0.618rem;
		border-radius: 4px;
	}
	.select {
		width: 100%;
		position: relative;

		&:after {
			pointer-events: none;
			content: "";
			position: absolute;
			display: block;
			height: 0.5em;
			width: 0.5em;
			border-style: solid;
			border-width: 0 0 1px 1px;

			transform: rotate(-45deg);
			right: 0.75em;
			top: calc(50% - 0.33em);
		}
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}

.message {
	margin-top: 1rem;
	padding: 16px;
	position: relative;
	&:before {
		background: var(--colour__secondary);
		border-radius: 8px;
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0.2;
		z-index: -1;
	}
	&.success {
		&:before {
			background: var(--colour__positive4);
		}
	}
	&.error {
		&:before {
			background: var(--colour__negative1);
		}
	}
}
