@import "styles/abstracts/mixins";

.button {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	--btn__borderColor: var(--colour__main);
	text-decoration: none;
	line-height: 1;
	@include on-event {
		text-decoration: none;
	}
	@include on-active {
		text-decoration: none;
	}
}

.size {
	&--sm {
		--padding-y: 1em;
		--padding-x: 0.8rem;
		@include responsive($tablet-p) {
			--padding-y: 0.618em;
			--padding-x: 1.3em;
		}
		padding: var(--padding-y) var(--padding-x);
		font-weight: 600;
	}
	&--md {
		--padding-y: 1em;
		--padding-x: 1.618rem;
		padding: var(--padding-y) var(--padding-x);
		@include responsive($tablet-p) {
			--padding-y: 0.618em;
			--padding-x: 1.618em;
		}
	}
	&--lg {
		--padding-y: 1em;
		--padding-x: 1.618rem;
		padding: var(--padding-y) var(--padding-x);
		@include responsive($tablet-p) {
			--padding-y: 0.618em;
			--padding-x: 1.618em;
		}
	}
}

.type {
	&--link {
		padding: 4px 0;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: var(--colour__accent);
			bottom: 1px;
			left: 0;
			transition: width 0.6s var(--easing);
		}
		@include on-event {
			&:before {
				width: 100%;
			}
		}
	}

	&--arrow {
		padding: 4px 0;
		position: relative;
		&:after {
			content: " ↗";
			transition: color 0.6s var(--easing);
		}
		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: var(--colour__accent);
			bottom: 1px;
			left: 0;
			transition: width 0.6s var(--easing);
		}
		@include on-event {
			&:after {
				color: var(--colour__accent);
			}
			&:before {
				width: 100%;
			}
		}
	}

	&--arrowBack {
		padding: 4px 0;
		position: relative;
		&:before {
			content: "↙ ";
			transition: color 0.6s var(--easing);
		}
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: var(--colour__accent);
			bottom: 1px;
			left: 0;
			transition: width 0.6s var(--easing);
		}
		@include on-event {
			&:before {
				color: var(--colour__accent);
			}
			&:after {
				width: 100%;
			}
		}
	}

	&--primary {
		background: transparent;
		color: var(--colour__bg);
		position: relative;
		white-space: nowrap;
		&:after {
			margin-left: 0.5em;
			margin-right: -0.25em;
			content: "";
			width: 0.6em;
			height: 0.6em;
			display: inline-block;
			border-style: solid;
			border-width: 0.15em 0.15em 0 0;
			border-color: var(--colour__bg);
			transform: rotate(45deg);
			transition: 0.4s var(--easing);
		}
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: var(--colour__primary);
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 1;
			border-radius: 999px;
			transition: 0.15s ease-out;
		}
		@include on-event {
			color: var(--colour__bg);
			&:before {
				background-color: var(--colour__positive1);
				opacity: 0.5;
			}
		}
		@include on-active {
			&:before {
				background-color: var(--colour__positive1);
				opacity: 0.5;
			}
			&:after {
				opacity: 0;
				transform: translateX(100%) rotate(45deg);
			}
		}
	}
	&--secondary {
		background: transparent;
		color: var(--colour__primary);
		position: relative;
		white-space: nowrap;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 0.1em;
			background: currentColor;
			bottom: 0;
			left: var(--padding-x);
			z-index: -1;
			border-radius: 999px;
			transition: width 0.6s var(--easing);
		}
		@include on-event {
			&:before {
				width: calc(100% - var(--padding-x) * 2);
			}
		}
		@include on-active {
			color: var(--colour__positive1);
		}
	}
	&--ghost {
		background: transparent;

		position: relative;
		white-space: nowrap;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: currentColor;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0.07;
			border-radius: 999px;
			transition: opacity 0.15s ease-out;
		}
		@include on-event {
			&:before {
				opacity: 0.5;
			}
		}
	}
}
