// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/ef5d9d3a194557cc5ea95b4260d580f6a7dac3ec.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/ef5d9d3a194557cc5ea95b4260d580f6a7dac3ec.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/d06de6323d0c571e0b5f4453ad53190d47ef1cfc.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/d06de6323d0c571e0b5f4453ad53190d47ef1cfc.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/13c6f67addce6587e552b5f16c4ae9b5176ef489.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/13c6f67addce6587e552b5f16c4ae9b5176ef489.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/7d9125531dbd1414a30b694163e893cce0597ac9.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/7d9125531dbd1414a30b694163e893cce0597ac9.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/c85c623635e3e2d512c01fa80dcc66ec1c52e7b1.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/c85c623635e3e2d512c01fa80dcc66ec1c52e7b1.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 100;
// 	font-display: swap;
// 	src: url("/fonts/fakt/e15dc97545ddccc7eaffbdf7c066fcf0da5f8df7.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/e15dc97545ddccc7eaffbdf7c066fcf0da5f8df7.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 200;
// 	font-display: swap;
// 	src: url("/fonts/fakt/fb0bb384da0fad732165b05100917e864241a5c5.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/fb0bb384da0fad732165b05100917e864241a5c5.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 200;
// 	font-display: swap;
// 	src: url("/fonts/fakt/b25e8749ad37454989a7901eaf7bf3502816c16c.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/b25e8749ad37454989a7901eaf7bf3502816c16c.woff")
// 			format("woff");
// }
@font-face {
	font-family: fakt pro;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/fakt/364db368710f5fb837ef8418c6d51df3e3027bfb.woff2")
			format("woff2"),
		url("/fonts/fakt/364db368710f5fb837ef8418c6d51df3e3027bfb.woff")
			format("woff");
}
@font-face {
	font-family: fakt pro;
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/fakt/037287edfd77ee7494351b97a21821fd3b76664a.woff2")
		format("woff2");
	// 	,
	// url("/fonts/fakt/037287edfd77ee7494351b97a21821fd3b76664a.woff")
	// 	format("woff");
}
@font-face {
	font-family: fakt pro;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/fakt/9ad5c24850795f5ac08d5012d9fb91e7f9dad0ae.woff2")
		format("woff2");
	// 	,
	// url("/fonts/fakt/9ad5c24850795f5ac08d5012d9fb91e7f9dad0ae.woff")
	// 	format("woff");
}
@font-face {
	font-family: fakt pro;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/fakt/268c5dda34fc23a60a34df927f2a9f59129940e6.woff2")
		format("woff2");
	// 	,
	// url("/fonts/fakt/268c5dda34fc23a60a34df927f2a9f59129940e6.woff")
	// 	format("woff");
}
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 500;
// 	font-display: swap;
// 	src: url("/fonts/fakt/c44372ebf1d4514fc89d9fff2aed890b32513a55.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/c44372ebf1d4514fc89d9fff2aed890b32513a55.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 500;
// 	font-display: swap;
// 	src: url("/fonts/fakt/ac64aa2f198f253b053407ffa23587d518127c1b.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/ac64aa2f198f253b053407ffa23587d518127c1b.woff")
// 			format("woff");
// }
@font-face {
	font-family: fakt pro;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/fakt/7071de2dc925341ccc839e2d8a7dea79820800b3.woff2")
		format("woff2");
	// 	,
	// url("/fonts/fakt/7071de2dc925341ccc839e2d8a7dea79820800b3.woff")
	// 	format("woff");
}
@font-face {
	font-family: fakt pro;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/fakt/c4cae49af942bf45b72d38bb50f03c387492b43e.woff2")
		format("woff2");
	// 	,
	// url("/fonts/fakt/c4cae49af942bf45b72d38bb50f03c387492b43e.woff")
	// 	format("woff");
}
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 700;
// 	font-display: swap;
// 	src: url("/fonts/fakt/2647f29d7bebbccd14504daee4974f4a865296bd.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/2647f29d7bebbccd14504daee4974f4a865296bd.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 700;
// 	font-display: swap;
// 	src: url("/fonts/fakt/d93e52beb47796772db536b46ad261fa3ce9f01b.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/d93e52beb47796772db536b46ad261fa3ce9f01b.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: normal;
// 	font-weight: 900;
// 	font-display: swap;
// 	src: url("/fonts/fakt/dd478014445fc7b9873e6e6cc549583bb4638141.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/dd478014445fc7b9873e6e6cc549583bb4638141.woff")
// 			format("woff");
// }
// @font-face {
// 	font-family: fakt pro;
// 	font-style: italic;
// 	font-weight: 900;
// 	font-display: swap;
// 	src: url("/fonts/fakt/c5b0319500e500c9a5f61c11d5492dede7268a9d.woff2")
// 			format("woff2"),
// 		url("/fonts/fakt/c5b0319500e500c9a5f61c11d5492dede7268a9d.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "antwerp";
// 	src: url("/fonts/antwerp/Antwerp-Light.woff") format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: "antwerp";
// 	src: url("/fonts/antwerp/Antwerp-LightItalic.woff") format("woff");
// 	font-weight: normal;
// 	font-style: italic;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: "century-supra";
// 	src: url("/fonts/century-supra/century_supra_t3_italic-webfont.woff2")
// 			format("woff2"),
// 		url("/fonts/century-supra/century_supra_t3_italic-webfont.woff")
// 			format("woff");
// 	font-weight: 300;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "century-supra";
// 	src: url("/fonts/century-supra/century_supra_t3_regular-webfont.woff2")
// 			format("woff2"),
// 		url("/fonts/century-supra/century_supra_t3_regular-webfont.woff")
// 			format("woff");
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "century-supra";
// 	src: url("/fonts/century-supra/century_supra_t4_bold_italic-webfont.woff2")
// 			format("woff2"),
// 		url("/fonts/century-supra/century_supra_t4_bold_italic-webfont.woff")
// 			format("woff");
// 	font-weight: 600;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "century-supra";
// 	src: url("/fonts/century-supra/century_supra_t4_bold-webfont.woff2")
// 			format("woff2"),
// 		url("/fonts/century-supra/century_supra_t4_bold-webfont.woff")
// 			format("woff");
// 	font-weight: 600;
// 	font-style: normal;
// }
